{% extends 'base.html' %}

{% block con %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">김치찌개 좋아하시는 분 ~~ </h1>
        <p class="col-md-8 fs-4">{{ user }} 님 환영합니다!!</p>
        <a href="{% url 'board:index' %}"><button class="btn btn-dark btn-lg" type="button" style="font-weight: bold;">BOARD</button></a>
    </div>
</div>
{% endblock %}

{% block noauth %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">김치찌개 좋아하시는 분 ~~ </h1>
        <p class="col-md-8 fs-4">된장찌개 좋아하시는 분 나가세요!</p>
        <a href="{% url 'acc:login' %}"><button class="btn btn-dark btn-lg" type="button" style="font-weight: bold;">LOGIN</button></a>
    </div>
</div>
{% endblock %}