{% extends 'base.html' %}
{% block con %}
    <div class="container mt-5 mb-5" style="width:70%">
        <h1><b>{{ b.subject }}</b></h1>

        <div class="row mt-5">
            <div class="col-lg-8">
                <textarea class="form-control" disabled style="height: 300px;">{{ b.content }}</textarea>
            </div>
            <div class="col-lg-4 text-center" style="margin: auto;">
                <img src="{{ b.writer.getpic }}" height="180px">
                <div class="mt-3" style="font-size:24px">
                    written by <b>{{ b.writer }}</b>
                </div>
                <div class="text-end mt-3">
                    {{ b.pubdate | date:'Y년 n월 j일 G:i'}}
                </div>
            </div>
        </div>

        <div class="text-end mt-4">
            <a href="{% url 'board:index' %}" class="btn btn-dark">BACK</a>
            {% if user == b.writer %}
                <a href="{% url 'board:update' b.id %}" class="btn btn-secondary">MOD</a>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    DEL
                </button>
            {% endif %}
        </div>
        <div class="text-end mt-3">
            {% if user in b.likey.all %}
                <a href="{% url 'board:dislikey' b.id %}" class="btn btn-danger">DISLIKE</a>
            {% else %}
                <a href="{% url 'board:likey' b.id %}" class="btn btn-primary">LIKE</a>
            {% endif %}

        </div>
    </div>

    

    <hr>
    <div class="container" style="width: 60%;">
        
        <form method="post" action="{% url 'board:creply' b.id %}">
            {% csrf_token %}
            <div class="row text-end">
                <div class="col-lg-10">
                    <input type="text" name="com" class="form-control" placeholder="댓글을 작성해주세요">
                </div>
                <div class="col-lg-2">
                    <button class="btn btn-dark">댓글생성</button>
                </div>
            </div>
        </form>

        {% if rset %}
            {% for i in rset %}
                <div class="row mt-5">
                    <div class="col-lg-3">
                        <img src="{{ i.replyer.getpic }}" width="100%">
                        <div class="mt-3 text-center" style="font-size: larger;">
                            <b>{{i.replyer}}</b>
                        </div>
                    </div>
                    <div class="col-lg-9" style="margin: auto;">
                        <textarea class="form-control" disabled style="height: 100px;">{{ i.comment }} </textarea>
                        <div class="text-end mt-2">
                            {{ i.pubdate | date:'Y년 n월 j일 G:i'}}
                        </div>
                        <div class="text-end mt-2">
                            {% if user == i.replyer %}
                                <a href="{% url 'board:dreply' b.id i.id %}"><button class="btn btn-danger">댓글삭제</button></a>
                            {% endif %}    
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
        
        {% endif %}

    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">게시글 삭제 알림</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    정말 삭제하시겠습니까?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <a href="{% url 'board:delete' b.id %}" class="btn btn-danger">삭제</a>
                </div>
            </div>
        </div>
    </div>



{% endblock %}